@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

@tailwind components;
@tailwind base;
@tailwind utilities;
@tailwind variants;

body {
  background-color: #000300;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("/fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "Gotham-Light";
  src: url("/fonts/GothamLight.ttf");
}
@font-face {
  font-family: "Gotham-Bold";
  src: url("/fonts/GothamBold.ttf");
}
